header{
    display: flex;
    width: auto;
    height:50px;
    border-radius: 5px;
    background-color: white;

}
 header h1{
    padding-right: 1270px;
    font-size:x-large;
    padding-left: 10px;
    justify-content: center;

} 
body{
    background-color: skyblue;
}
header img{
    padding: 5px;
}
nav{
    
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;}

    a{
        list-style: none;
        color: white;
        font-family: sans-serif;
        background-image: linear-gradient(pink,blue);
   border-radius: 25px;
        font-weight: bold;
        padding: 12px 16px;
        margin: 0 8px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left:0;
            height:100%;
            width: 100%;
            z-index:-1;
            transition: .2s;
            border-radius: 25px;
        }
    }

        &:hover {
            &::before {
                background: linear-gradient(to bottom,pink,blue);
                    box-shadow: 0px 3px 20px 0px black;
                    transform: scale(1.2);}

}
nav a{
    text-decoration: underline;
    color: black;
    border: black 2px double;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-left: 50px;

        


    
}

